# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results
/playwright-report

# next.js
/.next/
/out/

# production
/build

# environment
.env
.env*.local

# firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
serviceAccountKey.json

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
Thumbs.db
*.log

# vercel
.vercel

# certificates
*.pem
